.title-ber {
    background-image: url(../image/title6.jpg);
    background-repeat: no-repeat;
}

.top-bar {
    background-image: url(../image/top-bar6.jp);
}

.others {
    background-image: url(../image/middle-bar6.jpg);
}

.side-bar-bg {
    background-image: url(../image/side-bar6.jpg);
}

.kaze-h1 {
    /*background-image: url(../image/bar6.gif);*/
    /*background-repeat: no-repeat;*/
    background-color: #52BCDE;
}